@model int
<a asp-action="Details" asp-route-id="@Model" class="btn btn-warning">Details</a>
<a  asp-action="Edit" asp-route-id="@Model"  class="btn btn-info">Edit</a>
<a  asp-action="Delete" asp-route-id="@Model"  class="btn btn-danger">delete</a>
