@model ProductFormViewModel
@section mainHeader{
create product}

<form asp-controller="Product" asp-action="Create">
    <partial name="PartialView/CreateEditProductPartial"  />
    <button class="btn btn-outline-primary" type="submit">Add</button>
</form>
@section Scripts{
<partial name="_ValidationScriptsPartial" />
}